[2012-10-17 08:17] OleksandrBerezianskyi opened #1 "Response body from file"
It would be nice to be able to read response body from specified file.

[2012-10-22 07:24] OleksandrBerezianskyi opened #2 "1.0.3 It is not possible to start server without YAML config file specified"
We configure responses right in test because it gives a great overview of preconditions and improves test readability.

Using 1.0.3 jar, if you will start server using next code:

[code]

you will get next stack trace:

[code]

[2012-10-22 07:28] OleksandrBerezianskyi opened #3 "Documentation is incorrect for 1.0.3"
instead of

[code]

the one should use

[code]

because there is no AdminHandler.RESOURCE_STUBDATA_NEW constant as of 1.0.3

[2012-10-22 11:49] OleksandrBerezianskyi opened #4 "Parameters order should not matter for stubby"
Right now URLs should match exactly to trigger stubby response. But URL

[code]

is the same (with very rare exceptions) as URL

[code]

It would be nice to introduce 'parameters' field to URL field, e.g:

[code]

[2012-10-22 14:18] OleksandrBerezianskyi opened #5 "Body is not mandatory in POST requests"
This is heavily used in REST web services.

In stubby 1.0.3 sending POST without body will result in

[code]

[2012-10-22 20:56] #3 closed, assigned to nobody

[2012-10-22 20:56] #2 closed, assigned to nobody

[2012-10-22 20:56] #5 closed, assigned to nobody

[2012-10-24 19:02] #1 closed, assigned to nobody

[2012-10-24 19:02] #4 closed, assigned to nobody

[2012-10-25 00:54] bakersemail opened #7 "Can you provide a skinny jar?"
Our project depends on other versions of jetty (and other jars) which are not compatible with the ones being bundled in the fat jar.

Could you provide a skinny jar which defines a list of dependencies we need to include ourselves? Preferably through a POM file.

It would also be nice if this project was in maven central.

[2012-10-27 08:18] #7 closed, assigned to nobody

[2012-11-01 16:22] moleksyuk opened #8 "Json in postBody for request object"
Hi,

Could you add example to YAML configuration sample how to define json in post body?(if it's possible)
Example
-  request:
    method: POST
    url: /some/uri?param=true&anotherParam=false
    headers:
       content-type: application/json
    postBody:  {
    "attr1":"value1",
    "attr2":"value2"
  }

[2012-11-02 21:04] #8 closed, assigned to nobody

[2012-11-06 16:19] OleksandrBerezianskyi opened #10 "query params are not recognized any more"
[code]

will result in next stub (result of toString() of stubHttpLifecycles):

[code]

as you can see there is nothing  that corresponds to param: 1

UPDATE: ok, now I see that you have removed 'query' field from text of description here https://github.com/azagniotov/stubby4j/blob/master/docs/YAML.md but it is still in examples. Please fix examples.

[2012-11-07 08:17] #10 closed, assigned to nobody

[2012-11-07 19:46] moleksyuk opened #11 "Problem with line separator in WIN/UNIX"
Steps to reproduce on **Windows**:
1.Create file for body request (post-body-as-file.json):

[code]

2.Define request/response:

[code]

3.Try to post configured request on **UNIX**.

Expected: Get success response.
Actual:
- Windows: works perfect
- Unix: No data found for request... etc. (No match)

Problem is related to parsing line separator in post-body-as-file.json. On Unix file reader conti

[2012-11-12 23:21] #11 closed, assigned to nobody

[2013-01-07 08:29] kaizer opened #12 "Configure dynamic urls & response"
There are scenarios here where certain identifiers are dynamically generated and form part of the url.
It should be possible to configure a url, such as `/items/:id`, and then be able to use `params[:id]` so that the response can be made dynamic.

[2013-03-28 23:16] ashishsharma09 opened #13 "StubbyClient works but no other HttpClient or Browser"
With stubbyClient.startJetty only stubbyClient.doGet works. When I try to access the configured URL from Browser or using apache HttpClient or HttpConnection, the response is 404. Why the jetty server started through stubbyClient not visible to other APIs.

[2013-04-14 20:30] #13 closed, assigned to nobody

[2013-04-21 04:13] azagniotov opened #14 "Use dynamically generated identifier in the response"
Use regex matching groups to determine which back-references are available for insertion into the response body.

This would match things like `/root/resource_name` with `resource_name` as the captured backreference `$1`:

[code]

As for the response body, you could use `.erb` syntax, like fakerest, to insert backreferences

This would require modifying the overwritten class `equals` function for

[2013-04-25 00:01] azagniotov opened #16 "When request.file or request.file cannot be loaded, thrown exception halts parsing"
When request.file or request.file cannot be loaded, thrown IOException halts YAML parsing from continuing.

I think this can be handled silently, by outputting a warning to the console.

[2013-04-29 18:58] #16 closed, assigned to nobody

[2013-05-03 07:40] azagniotov opened #17 "Some AdminPortalTest fail when testing against Oracle JDK 7/Open JDK 7 on Travis CI"

[2013-05-03 22:23] #17 closed, assigned to nobody

[2013-06-05 05:05] kc00pr opened #18 "Feature Requested: Dynamic override of canned response"
We use stubby to generate a canned response of a web service. At times, I would like to simulate an error response from the web service.

For example: the URL http://localhost:xxxx/response-to/name/Kevin

Canned Response: 200 OK - Hello Kevin

At times I want the same URL to return: 200 OK - Get Lost!

It would be great to provide a dynamic override/reconfiguration capability. The overridden respo

[2013-07-30 15:54] adam-hrdie opened #20 "Question - How to use the StringUtils.RemoveBrackets on incoming request"
I am just wondering where I would need to apply this to filter the incoming request text. I can see that it is called during the createParamMap() method in order to create the assertionRequest to be matched to a response, but I do not understand why it is not removing the square brackets from either side of my queryString.

Thanks

[2013-08-12 02:25] azagniotov opened #22 "Include stubbed response index inside custom header to allow future updates"
One of the suggested solutions: ALWAYS to include a custom header in the response back from the stub portal which include the index of the response? Such as:

[code]

This way it is possible to modify one of the stubbed request to return a different response after the server has been started, since the ID will be known that can be used to update the response by sending `PUT` request to Admin porta

[2013-08-16 15:17] #22 closed, assigned to mrak

[2013-08-16 15:19] #18 closed, assigned to nobody

[2013-08-16 15:20] #20 closed, assigned to nobody

[2013-09-03 18:56] pizzqc opened #26 "StubbyClient shall allow to specify binding Address when staring Stubby programatically"
First, thanks for all the great work on your Stubby4j,  it looks very promising and we are currently looking into using it for our functional test.

Unfortunately, it seems that the Bind Address Jetty is started can only be configured from the command line interface by passing --location switch....  It seems like there isn't any equivalent in the programmatic API (startJetty(...)).

To workaround

[2013-09-04 00:18] #26 closed, assigned to nobody

[2013-09-12 20:02] adam-hrdie opened #27 "URL parameter being lost before request mapped to response"
Hi,
I seem to be losing a parameter in a request and cannot find why
Here are my samples:

YAML req/response pair:

  request:
      method: POST
      url: /try?scriptParams=[a-zA-Z]{3}=([A-Za-z0-9]+(?:[\s-][A-Za-z0-9]+)+)
  response:
      status: 200
      body: complete

sample request: (sent through firefox add on 'poster')

http://localhost:8882/try?scriptParams=uid=07ef-0000-&invokePCL=true

[2013-09-19 16:27] #27 closed, assigned to nobody

[2013-09-30 14:41] #14 closed, assigned to mrak

[2013-09-30 14:46] adam-hrdie opened #28 "Capture post body using regex"
Hi guys, just a quick question. I am having trouble capturing some values from the request body. Is this supported? If so, what is the required form of the request regex and the tokens in the response?
The request passes the match when the regex is in this form
body: BillingSurname: "(._)"
BillingFirstnames: "(._)"
BillingAddress1: "(._)"
BillingCity: "(._)"
BillingPostCode: "(._)"
BillingCountry:

[2013-09-30 15:22] #12 closed, assigned to nobody

[2013-10-01 08:04] #28 closed, assigned to nobody

[2013-12-03 16:15] ashish-sharma09 opened #29 "XML in post not working"
-  request:
      url: ^/api/v1/types
      method: POST
      headers:
         Content-Type: application/xml
      post: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><idex:type xmlns:idex="http://idex.bbc.co.uk/v1"><idex:authority>PIPS</idex:authority><idex:name>pid</idex:name><idex:startsWith>pid://</idex:startsWith></idex:type>
# Text above is single line
   response:
      headers:

[2013-12-05 10:56] paramadeep opened #30 "no response if request parameter is set to be blank"
when there is a get request with a parameter that is set blank, there is no response. for example for a request
http://localhost:8000/article?price_from&proice_to=20
Here price_from is not set with a value.
Can we handle such request.

[2013-12-05 19:44] #30 closed, assigned to nobody

[2013-12-11 14:23] Duncx opened #31 "Random responses"
I am looking to provide a response that returns a randomized value. eg.

   response:
      headers:
         content-Type: application/json
      body: >
        {"data":[{"profileid":(someRandomNumber),"username":(ARandomStringOfLengthN)]}

Is there anyway do such a thing in the YAML?

If not could you consider implementing?

Kind regards

[2013-12-19 06:48] paramadeep opened #32 "string comaprision of post request"
I'm facing a issue with handling response for a post request. We use stubby4j for our UI automation. We stub all the service calls. The tests fails randomly for when it comes to post calls.
The problem with the post request is, the json that comes with the request though it have same key value pair, their order is different each time.
I understand we as using string comparison for post files, inst

[2013-12-19 07:01] paramadeep opened #33 "Error Count details"
This is more of a feature request.
Currently in our application, there are places where we just make a request and we'll not act on the response. In such places we are not able to assert if such call we made. This makes our tests incomplete.
Currently we are parsing the stub log to see if it has any error, to ensure all the request made to are valid. This is not very clean, instead if we have a en

[2014-05-19 22:00] deepakl opened #35 "Start Jetty Server without YAML configuration file"
For our integration tests, we setup stub responses (using the POST endpoint) before each scenario and then refresh the stubs afterwards.
However, I still need to create a dummy YAML configuration file to boot up the Jetty server.

It would be nice if the YAML file is optional parameter to `startJetty` to avoid creating a dummy file.

[2015-01-14 04:46] itzmanjeet opened #37 "Stubby4j matching on request body does not work whenever "?" is part of request body."
We configured a request on Stubby4j. There is ? in the top header. Whenever I remove question marks from the line <?xml version='1.0' encoding='UTF-8'?> then request and response work correctly, whenever there is any question mark in this line 404 comes up as ? mark is hampering that request matching. Can anybody suggest how to fix this or any work around this. ? mark is mandatory part of request.

[2015-01-14 16:11] mrak commented on #37
I believe this is because stubby interprets configured values as regular expressions. Is there something in particular within the body you want to match on instead of the entire body?

[2015-01-15 07:10] itzmanjeet commented on #37
Yes, we need to match few unique identifiers in some elements of the request body xml. These identifiers can across multiple line in request body as elements can increase or decrease based on the request.

Like in below sample xml we want to match few element values like senderId, ID , passcode. Say if the senderId=adcdc, ID= 123455667 and passcode=passcode1, then only response should be returned.

[2015-01-16 08:24] itzmanjeet commented on #37
Hi Mrak,

Can please suggest some thing which can help to get around this problem.

Thanks,
Manjeet

[2015-01-19 12:01] itzmanjeet commented on #37
Can anyone please provide any help on our issue?

Thanks,
Manjeet

[2015-01-19 12:47] mrak commented on #37
Can you post your YAML of the endpoint you're trying to match?

XML was some characters (like '?') that are meaningful in regular expressions. You will have to escape these characters for them to be interpreted literally.

[2015-01-28 06:00] itzmanjeet commented on #37
Thanks Eric for this, using escape character before ? worked.

We need your help regarding regex pattern as well. In our case the request body posted on the stubby4j side span across multiple lines. We need a regex pattern to match few unique identifiers in mutli line request body. We formed a pattern that can match the identifier across multiple lines, however whenever the identifier is not prese

[2015-01-29 05:34] itzmanjeet commented on #37
Please let us know if you anybody can help us on this ?

[2015-01-29 06:19] itzmanjeet opened #38 "Logging in Stubby4j"
Is there a way we can increase the log level in Stubby4j? As of now we see very little information in stubby4j logs, can we some how increase the logging level in Stubby4j. Our intend is to see in the logs the request body which is getting posted on Stubby4j URL and any exception that is occurring in stubby4j.

[2015-01-29 07:14] mrak commented on #38
At one point we had a `--debug` flag (which was very verbose), but that feature may not have stuck around.

@azagniotov is there still a programmatic way to trigger verbose logging of stubby?

[2015-01-29 21:03] mrak commented on #37
I can't imagine a regular expression going into an infinite loop.

Could you post the exact endpoint you have configured in your YAML and the types of requests you are making?

It sounds like a matter of how to represent your regular expression

[2015-02-06 16:36] azagniotov commented on #38
Nope... There is no more verbose logging available.

[2015-03-09 15:27] azagniotov commented on #33
Sorry. I was away from this for a very long time. I like this idea. Once stubby is upgraded to v9, I will look into this

[2015-03-11 10:07] nitinpadalia opened #40 "Can we start stubby using startJetty() with ssl and admin portal disabled?"
It'll be great if stubby has this feature of disabling SSL and admin portal, so that it could run inside application in cloud environment too.

-Nitin

[2015-03-15 01:37] azagniotov commented on #40
Hi! I will add this feature in a few days

[2015-03-15 01:47] azagniotov commented on #40
Also, can you please provide more information about how SSL and admin portal preventing you from running the stubby in cloud environment?

[2015-03-15 01:48] azagniotov commented on #38
Will add verbose logging in a few days

[2015-03-18 06:38] nitinpadalia commented on #40
Thanks! a lot Alexander for looking into it.
Actually we're trying to run stubby inside CloudFoundry, but since Stubby Jetty require these ports necessarily. Inside CloudFoudry we don't have much flexibility regarding ports as if we bind to our custom ports CF router won't be able to route these ports natively as well as this won't be a very scalable test service as ports are bound to hard coded o

[2015-03-19 21:14] azagniotov commented on #40
I see. I can make two options:
`--disable_admin_portal` and `--disable_ssl_portal` which respectively would disable admin portal & SSL. Would this work?

[2015-03-20 02:10] azagniotov commented on #35
One year later. It would be possible to start stubby programmatically without creating a dummy file in the next version (v3.0.1)

[2015-03-20 02:10] #35 closed

[2015-03-20 15:17] am78 opened #41 "Multiple POST request for same URL"
I want to configure multiple POST request for the same URL but with different body data.
But only the first configured request is working properly.
When the second configured request matches, stubby4j seems to hang up and no response is send back to client.
Is this a known problem? Is there some kind of workaround available?
Thanks,
Michael

[2015-03-20 17:13] azagniotov commented on #41
Can I have a look at your YAML? At the stage you can configure multiple stubbed responses on the same stubbed URL. That being said, you can configure your POST to be a regex (I do not know how complex your POST data is):
[code]
Also, do you expected different response per each POST?

[2015-03-20 18:24] am78 commented on #41
Thanks for your quick response.
I just tried the same approach with simplified data and it worked well.
So maybe there is an error on my side in my regex or so.

Currently I’m not at the office and cannot use the exact configuration, I will try it again next week. Hope I get it to work then.
In my case I have one Endpoint but different SOAP requests and depending on the request different SOAP resp

[2015-03-23 09:27] am78 commented on #41
Got it to work with adjusted RegExp in request post value.
Thanks for your help.

[2015-03-24 14:36] azagniotov commented on #41
Cheers

[2015-03-24 14:36] #41 closed

[2015-03-24 14:44] azagniotov commented on #38
Added `--debug` options that dumps raw HTTP request to console

[2015-03-24 14:44] #38 closed

[2015-03-24 14:45] azagniotov commented on #40
Added the two options above in v3.0.1

[2015-03-24 14:45] #40 closed

[2015-03-25 13:11] nitinpadalia opened #42 "OAuth Support for Stubby4j"
Hi,
Would you be able to add oAuth support for Header verification? or may be you could provide us code pointers so that we might change it and sent it to you for review.
-Nitin

[2015-03-26 14:01] azagniotov commented on #42
oAuth would be nice to have. Start having a look at YamlParser class which parses that YAML file

[2015-03-26 14:23] TobiasHeinicke opened #43 "Live refresh in response sequence only for first response"
The live refresh of external files in a sequence of responses only works for the file in first entry.
Take this as an example:

    response:
        -   status: 200
            headers:
                content-type: application/xml
            file: ../responses/first.xml

        -   status: 200
            headers:
                content-type: application/xml
            file: ../responses/sec

[2015-03-30 05:56] azagniotov commented on #42
v3.0.2 now supports stubbing authorization header for Bearer token verification, ie: "Authorization: Bearer jgHfjgJKhtkjghklhlkjhllj==". Please refer to doc

[2015-03-30 05:57] azagniotov commented on #43
Ah thanks :+1:  I will have a look :)

[2015-03-30 06:02] azagniotov commented on #42
[code]

[2015-03-30 06:02] #42 closed

[2015-03-30 06:03] nitinpadalia commented on #42
Great! Thanks!

On Mon, Mar 30, 2015 at 11:26 AM, Alexander Zagniotov <
notifications@github.com> wrote:

--
Nitin Padalia
9999256157

[2015-04-01 00:44] #29 closed

[2015-04-01 00:44] #31 closed

[2015-04-01 00:45] azagniotov commented on #32
Will look into it

[2015-04-01 00:46] azagniotov commented on #37
Closing due to no response

[2015-04-01 00:46] #37 closed

[2015-04-01 03:22] azagniotov commented on #43
Fixed in v3.0.3

[2015-04-01 03:22] #43 closed

[2015-04-05 09:35] azagniotov commented on #32
In the next version (3.0.4), in case of POSTed data type is `application/json`, the comparison to stubbed POST data will be done using JSON entities with non-strict checking (content ordering wont matter, as long as it is the same)

[2015-04-05 09:35] #32 closed

[2015-04-06 03:40] azagniotov commented on #32
sorry, the latest version is: 3.1.3 https://github.com/azagniotov/stubby4j#313

[2015-04-21 09:58] sanjay19834U opened #44 "PUT AND DELETE METHOD SUPPORT in SubbyClient"
Hi Sir,
we are creating stub using sc.startJetty(25030,defaultAdminPort, appHost, url.getFile());
and stubbs created sucessfully

Now i am tring to access all stubs using StubbyClient.java and its working fine in case of GET and POST method.

But during PUT and DELETE method facing following exception

"HTTP method PUT  not supported when contacting stubby4j"

Following are the exception logs
2015

[2015-06-03 10:48] ravesean opened #45 "Request and response bodies not coming"
I've used ConsoleUtils.enableDebug(true) to get request and response bodies on console, but not able to get .
Kindly look into it, in our use case requirement in which when any request gets failed at stubby's end then we want to see request and response body for debugging , but currently it is not dumping the same.

[2015-06-16 06:13] sanjay19834U opened #46 "not able to see request and response body after enableing --debul logs even"
I used ConsoleUtils.enableDebug(true) to get request and response bodies on console, but not able to get .
 Kindly look into it, in our use case requirement in which when any request gets failed at stubby's end then we want to see request and response body for debugging , but currently it is not dumping the same

[2015-06-23 15:29] AntoineBro opened #47 "Dynamic token replacement not working on body post with JSON content type"
the regexp does not match the stub if Content-Type is  application/json  ( probably the same with xml )

yaml :
[code]

body of the response when submitting a POST request with Content-Type=application/json  :
[code]

result submitting a POST request without Content-type  :
[code]

This is probably due to https://github.com/azagniotov/stubby4j/commit/69ede0b36b360d37bb892321da7a539ff105c555#diff-1

[2015-06-24 18:19] AntoineBro opened #48 ""gradle install" not working correctly"
running  **gradle install**  creates the following jars under  **~/.m2/repository/stubby4j/main/3.2.3-SNAPSHOT** :
[code]

is there a task that allows deploying the correct jar in the local maven repository ?

[2015-10-02 11:03] helpermethod commented on #44
+1 I would love to use stubby4j in all of my projects because the project is superior to all other alternatives but no support for PUT/DELETE is a bummer.

[2015-10-07 21:00] azagniotov commented on #44
Sorry, I have been away! It is definitely a good idea!

[2015-10-08 05:41] azagniotov commented on #44
Added support for `PUT` and `DELETE` in v3.2.3. Please report if any issues

[2015-10-08 05:41] #44 closed

[2015-10-08 05:49] azagniotov commented on #46
Please user `--debug` command line argument if you are running stubby using the `java -jar ...` command

[2015-10-08 05:49] #46 closed

[2015-10-08 05:51] azagniotov commented on #45
Please use `--debug` command line argument if you are running stubby using the `java -jar ...` command

[2015-10-08 05:51] #45 closed

[2015-10-08 05:53] azagniotov commented on #48
Hi. Thank you for your question.

I have never tried to install the jars into a local repo, to be honest.
Just running the `gradle` command will generate correct jars under `target/`libs`. I do not have a task to deploy the correct jar(s) to the local maven repository

[2015-10-08 05:53] #33 closed

[2015-10-08 05:58] azagniotov commented on #47
Before i dive into this, did you verify that your regex is correct? i.e.: that the
`.*\\{\"code\":\"(.*)\",\"name.*` matches the `{"code":"4f3117dc68","name":"Test site"}` ?

Also, the Request content-type will not be matched because you did not specify `header` property in `request`:

[code]

[2015-10-10 20:17] radek1st opened #49 "feature request: be able to use pattern matched in a request to load a file where it's path uses the pattern"
Hi, I'd like to be able to choose a file that gets served in the response based on the regex in the request url. Currently, it is only possible to replace the pattern inside of a file, but not the path to the file. Something like in the below example:

-  request:
      method: [GET]
      url: ^/category/([a-zA-Z]+)

   response:
      status: 200
      file: /path/to/my/files/<% url.1 %>

[2015-10-11 09:15] azagniotov commented on #49
Thanks for suggesting this. My next 3-4 weeks are pretty busy, so I am not sure when I can look into this

[2015-10-11 10:30] radek1st commented on #49
I might have some time now, so I can have a look. Any suggestions on how to approach it?

[2015-10-18 00:45] azagniotov commented on #49
Sure. From a high level:
When stubby parses the YAML config, everything gets loaded into memory. In other words the contents from the `file` path would be pre-loaded, instead of served on demand.

Have a look at `YamlParser` class that does the YAML parsing. Specifically have a look at: https://github.com/azagniotov/stubby4j/blob/master/main/java/by/stub/yaml/YamlParser.java#L153

Maybe a good app

[2015-11-18 02:40] #49 closed

[2015-11-18 02:41] #47 closed

[2016-02-04 22:51] tracybporter opened #52 "Quick start - setup not working"
I followed the instructions for downloading the latest jar and created a yaml file exactly like the example. When I try a GET request (curl and chrome and postman) I get a 404 for the hello-world uri and 500 for status.

[2016-02-04 23:23] azagniotov commented on #52
Hi, just to confirm - we are talking about version v3.3.0?
Can you please provide the stubby startup command? Also, can you please provide the YAML you are using?

Thanks

[2016-02-05 00:23] tracybporter commented on #52
I just tried the steps on a different computer and they work. At this time
I believe the issue is mine. I am now going to crack open the other
computer and see how I messed up.

Thank you for your quick response.

Sorry to have bothered you.

VERY cool tool. I've build 2 similar apps, but not with nearly the slick
options.

Sincerely,

Tracy.

On Thu, Feb 4, 2016 at 5:23 PM, Alexander Zagniotov <

[2016-02-05 01:20] azagniotov commented on #52
No worries. Thank you. Lemme know if you experiencing any issues.

P.S. These "different" computers - do they have a different OS?

[2016-02-05 02:09] tracybporter commented on #52
Kinda. One is El Capitan and the other Yosemite.

Sent from my iPhone

[2016-02-05 02:16] azagniotov commented on #52
Ok, at least both are OSX

On Thu, Feb 4, 2016 at 6:09 PM, Tracy B. Porter <notifications@github.com>
wrote:

--
Sincerely,
Alexander Zagniotov

LinkedIn: http://linkedin.com/in/AlexanderZagniotov
Twitter: http://twitter.com/AlexZagniotov
Blog: https://medium.com/@AlexZagniotov
About.Me: http://about.me/AlexZagniotov

Sent from my Mac Computer Hardware Pro

[2016-02-07 19:13] tracybporter commented on #52
The problem was user error....me! My yaml file was not correct. Thank you again for the speedy response.

[2016-02-07 20:35] azagniotov commented on #52
No worries! I am glad you found the problem.

On Sun, Feb 7, 2016 at 11:13 AM, Tracy B. Porter <notifications@github.com>
wrote:

--
Sincerely,
Alexander Zagniotov

LinkedIn: http://linkedin.com/in/AlexanderZagniotov
Twitter: http://twitter.com/AlexZagniotov
Blog: https://medium.com/@AlexZagniotov
About.Me: http://about.me/AlexZagniotov

Sent from my Mac Computer Hardware Pro

[2016-02-12 14:41] amitgupta-work opened #53 "regex doesn't work for multiline request body"
I am capturing request in stubby4j like this

[code]
It works fine if I use single line in request body. E.g. `User name is amit gupta`. But it fails if I use multiline text as

[code]
How can I match some part of request body?

I need to do this. Because any extra space in post body leads 404. And even this approach doesn't work

[code]

[2016-02-12 14:53] amitgupta-work commented on #53
Never mind. I got the answer on stackoverflow. I need to use \s and \s

[2016-02-22 18:38] #52 closed

[2016-02-22 18:39] azagniotov commented on #53
Great!

[2016-02-22 18:39] #53 closed

[2016-04-19 07:47] poramate-to opened #54 "Does it support regular expression in Json post request?"
I would like to match some regular expressions in the json post request. Is it possible?

[code]

[2016-05-28 19:40] munkyboy opened #55 "unable to read post data when run with `--debug`"
given the endpoint:

    - request:
        method: [POST]
        url: /foo
        post: "^qqq=123$"

running with `--debug` causes this error:

     POST [stubs]/foo: Error when extracting POST body: java.util.NoSuchElementException, returning null..

In debug mode, the raw HTTP request is parsed and dumped to stdout. Later, the code reads the request input stream to process the post body and t

[2016-06-08 17:56] vickylalit commented on #38
Hi,
I am using stubby4j for REST APIs testing. From what I understand, it dump the Request and Responses in Console via ANSITerminal.

Is there a way to override these. I want to send these logs to SocketAppender/FileAppender.

Any feedback is much appreciated.

[2016-07-28 14:34] ederparaiso opened #56 "Unexpected behaviour constructing requests with query parameters values containing white spaces"
I'm not sure if its a bug or limitation of the lib. Maybe a future enhancement.
I have a request with a query param who value contains a white space.
I followed example bellow in README but it does not work:

* The following will match either of these:
  * /with/parameters?search=search+terms&filter=month
  * /with/parameters?filter=month&search=search+terms

[code]

My query param was

[code]

An

[2016-10-18 00:55] azagniotov commented on #56
@ederparaiso Thanks for that. I apologise for the late reply. I will look into this

[2016-10-18 00:57] azagniotov commented on #55
@munkyboy Thank you for that. I apologize for the late reply. I will look into this

[2016-10-19 06:35] azagniotov commented on #55
Interestingly, it is not because of `extractPostRequestBody`:

When dumping raw `HttpServletRequest` to console during `--debug`, I am calling `request.getParameterNames()`. Jetty's `Request` implementing the `HttpServletRequest` would eventually call the `request.getInputStream()` without me realizing

[2016-10-19 07:18] azagniotov commented on #55
Fixed in v4.0.0

[2016-10-19 07:18] #55 closed

[2016-10-19 18:23] azagniotov commented on #56
Fixed in v4.0.0 You would have to stub as follows:
[code]
Which should be match the stubbed if your URL is url encoded:
`String request = "http://localhost:8882/test?term=boo%2Band%2Bfoo"`

[2016-10-19 18:23] #56 closed

[2016-10-19 19:52] azagniotov commented on #56
I added more examples in the docs. I hope this helps

[2016-10-19 22:22] azagniotov commented on #54
Added in version v4.0.1

[2016-10-19 22:22] #54 closed

[2016-10-21 22:51] azagniotov commented on #48
Hi @AntoineBro , I know this is waaaaay too late, but just FYI:
https://github.com/azagniotov/stubby4j#installing-stubby4j-to-local-m2-repository

[2016-10-21 22:51] #48 closed

[2016-11-01 16:49] rrabio opened #61 "Record&Replay: regex being send in place of the actual query or header value"
When a response is recorded with Record&Replay, the regex values in the header and query fields are used to create the request sent to the server specified in the response.body field. The actual value should be used instead.
Example:
a request such as :
http://myserver/Search?queryvalue=ciao

intercepted by the following yaml request:
-  request:
      method: GET
      url: /search
      query:

[2016-11-01 16:49] rrabio commented on #61
PS. great tool Alexander and thanks for sharing it!
I'm willing to fix the bug if you agree and propose a patch, if you can give me a few pointers on where and how.
Cheers

[2016-11-01 23:20] azagniotov commented on #61
Hi @rrabio , thanks for reporting this. I already have a fix. Will you be able to build a SNAPSHOT from the `master`, once I push the fix and test it on your end before I deploy it to Maven Central?

[2016-11-02 08:52] azagniotov commented on #61
Fixed in version `4.0.4`

[2016-11-02 08:52] #61 closed

[2016-11-02 08:55] azagniotov commented on #61
Btw, it is a little bit tricky with headers. Sending incoming request headers as-is can affect the recorded response. For now, sending only  incoming request query string as-is

[2016-11-02 09:29] rrabio commented on #61
It works perfectly now, thanks!

[2016-11-02 12:03] azagniotov commented on #61
Releasing version 4.0.4

[2016-11-02 12:26] kieranbop opened #62 "Negative JSON Regex"
When I try and specify negative look ahead regex's within my JSON post I never get the expected response. e.g.

`- request:
      method: [POST]
      headers:
         content-type: application/json
      url: ^/test
      post: '{"title":"(.*)","firstName":"(^(?!john$).*)"}'
  response:
  - status: 200`

returns a 404 on any call. Although I have tested the above regex + several other variations

[2016-11-02 12:29] azagniotov commented on #62
Hi... Thank you for reporting. Could you provide your exact POST request so I can replicate your scenario? Also, just for sanity check: does your regex work outside of stubby?

[2016-11-02 12:37] azagniotov commented on #62
I think you are missing an asterisk `*` in the first set of parenthesis, not sure if you also need an asterisk in the second set of parenthesis, i.e.: `(^(?!john$).*)`. Try with the following stubbed  request-response:
[code]

[2016-11-02 13:03] kieranbop commented on #62
I have updated the original comment with the POST request being used. Yes I have tested that regex + other permutations outside of stubby and that returns me my desired result. Is there a particular regex tester you recommend?
I can't match your answer above... are you able to provide your POST request also?

[2016-11-02 14:05] azagniotov commented on #62
Regarding a regex tester, I would write a simple unit test by trying to compile a regex `Pattern` for the sake of testing the regex, that's basically what stubby uses under the hood - `Pattern` object. That said, perhaps you already done just that, I am not sure :) If you do not want to write junit unit tests, I would Google for Java regex tester online. Can I ask you what regex tester you used to

[2016-11-02 23:52] azagniotov commented on #62
I have created the following JUnit test that compiles a `Pattern` and tweaked the regex a little bit. I am not sure what exactly are your use cases, but maybe the following can help you. Let me know what you think:

https://gist.github.com/azagniotov/fdca8377dac606a0399178940a015825

[code]

[2016-11-03 08:58] kieranbop commented on #62
Hello azagniotov, thanks for the fast reply. I have tested above locally and it has started giving me the desired results. My use cases are a couple of JSON requests that are triggered by a particular field (e.g. first name) if one matches then return some sort of 400 response. Similarly with the next response, return back a 200 if the first name doesnt match one specified in the above response.

[2016-11-03 13:30] azagniotov commented on #62
Hi @kieranbop , I am glad that the regex is working for you now. Regarding the starting characters in the regex, stubby is not doing anything magical with the stubbed regex pattern. Under the hood stubby compiles the stubbed pattern into an instance of `java.util.regex.Pattern` class. So, I would first ensure that the proposed stubbed regex pattern "works", i.e.: `Pattern.compile("YOUR_PATTERN").m

[2016-11-03 13:31] #62 closed

[2016-12-06 22:50] daecabhir opened #64 "Enhancement: Allow negated list of methods for requests"
The basic use case I'm looking at it that an endpoint can take a GET (and only a GET), and any other methods will produce a 405 (method not supported). I know I can emulate this by listing all of the methods that are not permitted, but it seems like it would be helpful to be able to specify "anything other than these methods". Possible forms that come to mind are:
[code]
Alternatively, perhaps a r

[2016-12-18 02:54] azagniotov commented on #64
Hi @daecabhir

Thank you for suggesting this. I am contemplating if to make it a default behavior, i.e.: `an endpoint can take a GET (and only a GET), and any other methods will produce a 405 (method not supported).`

[2016-12-18 03:25] daecabhir commented on #64
If you think that would be an appropriate default behavior, that works just fine for me. Thank you!

[2017-04-25 21:17] pallapothurameshbabu opened #66 "Not able to custom headers in request"
Not able to custom headers in request

[2017-04-25 22:19] azagniotov commented on #66
Thanks! Can you provide more details of what you tried to do?

[2017-05-02 17:19] #66 closed

[2017-05-02 17:22] pallapothurameshbabu opened #67 "Is there way to load multiple YAML files?"
Is there way to load multiple YAML files?

Below command is taking only ine file.
java -jar stubby4j-5.0.0.jar -d stubby4j_data.yaml

Thanks !!

[2017-05-02 19:02] azagniotov commented on #67
Hello, you cannot load multiple YAML files with `-d`, but your main YAML can refer to other YAMLs

[2017-05-02 20:40] pallapothurameshbabu commented on #67
could you please share example for same ?

Thanks !!

[2017-05-02 21:04] azagniotov commented on #67
Read about the: https://github.com/azagniotov/stubby4j#file and https://github.com/azagniotov/stubby4j#file-1 and https://github.com/azagniotov/stubby4j#command-line-switches (`--watch`)

[2017-05-02 21:37] pallapothurameshbabu commented on #67
Thank you !!!

[2017-05-02 21:37] #67 closed

[2017-05-23 11:11] kishaningithub opened #68 "Verifying stub validity"
Is there a way to check if a stub (JSON) is valid by checking with WSDL, WADL ?

[2017-07-05 08:32] nningego opened #72 "Expose java admin api"
I wish I could interact with admin through java interface instead of dealing with http calls.
I would be happy to send a PR if this is useful.

[2017-07-17 17:35] OtavioRMachado opened #73 "Do token substitution on file body."
Currently, Stubby4j is only able to replace tokens in header, body and url parameters. We'd like to be able to parse tokens inside the file's contents, based on the request that is being made.

I'm working on a change to support this. PR will appear shortly.

[2017-07-19 11:28] SwEngin opened #75 "Matrix params are not matched"
Have a get request in my configuration that has matrix params in the url only the first param matched the second one not
[code]
when I remove the second param the request is matched successfully otherwise not

[2017-07-20 09:19] SwEngin commented on #75
So after some investigation I found out that the problem is more jetty related as if I have stubby4j and no-jetty classifier and have jetty as a standalone dependency matrix params get truncated altogether so the request is seen as /service/resource is there a possibility to make the container interchangeable so one can define which container to be used

[2017-08-07 21:26] #73 closed

[2017-09-14 02:13] azagniotov commented on #75
Thank you for reporting this. Is there any reason why you did not stub query params using `query`? e.g.: https://github.com/azagniotov/stubby4j#request

[2017-09-14 02:14] azagniotov commented on #72
Feel free to send a PR!

[2017-09-14 02:14] azagniotov commented on #68
Sorry, not at this moment

[2017-10-11 07:10] spicecoder opened #78 "getting 500 error with basic setup"
Hello, stubby4j looks like exactly what I wanted ; however I am getting this {"code":"500","message"="Problem handling request in Admin handler: java.lang.NumberFormatException: For input string: "hello-world""}

when I tried --
the yaml :
-  request:
      method: GET
      url: /hello-world

   response:
      status: 200
      headers:
         content-type: application/json
      body: Hello W

[2017-10-11 07:18] azagniotov commented on #78
I need to see your YAML exactly as you formatted it...
Judging by what you have here, your YAML is not formatted correctly.

Make sure that you have something like that:
[code]

[2017-10-11 07:39] spicecoder commented on #78
Thanks..shall try tonight..shall get back

On 11 Oct. 2017 18:18, "Alexander Zagniotov" <notifications@github.com>
wrote:

[2017-10-11 12:29] spicecoder commented on #78
Sorry no luck ; I am attaching the yaml file. Appreciate your help.
online validation says valid yaml.

Thanks
Pronab

Pronab Pal

 Compute the World With Words,Lets Mend It Now.

Join The Community
https://plus.google.com/u/0/communities/111254712011749369781

On Wed, Oct 11, 2017 at 6:39 PM, Pronab Pal <palpronab@gmail.com> wrote:

[2017-10-11 17:49] azagniotov commented on #78
I do not see any attachment here. I am not sure if whatever you attach via email will appear in Github

[2017-10-12 01:54] spicecoder commented on #78
[hello.txt](https://github.com/azagniotov/stubby4j/files/1377729/hello.txt)
I renamed the file to txt extension as it is not able to take a yaml file attachment. Thanks Pronab

[2017-10-14 01:50] azagniotov commented on #78
Hello. I am not sure what's going on at your end, but I start the stubby with the following command:
`java -jar stubby4j-5.0.2-SNAPSHOT.jar --data test.yaml` and can successfully load `http://localhost:8882/hello-world` in the browser in order to get `Hello`

My YAML looks as per what you posted before:
[code]

Are you on Linux, Windows or Mac?

Also, I am going on vacation, so I might be slow to

[2017-12-08 06:02] leonardocaldas opened #79 "Stub Identifier"
Add option to configure a name or an ID in each request and be able to update or delete this one using this name or ID.

Example:
[code]
and then I could update using the specified name
[code]

[2017-12-08 06:04] leonardocaldas opened #80 "Append new requests"
I'm only able to replace all the loaded stubs using the available admin endpoint, so if I for instance load an YAML file and then, at runtime, want to add a new endpoint, I have to send all the stubs that were already there plus my new one, when I could just send only the new one.

Something like the below would be nice:
[code]

[2017-12-08 06:23] leonardocaldas opened #81 "Startup behavior differs from documentation"
In the documentation we have the following section:
[code]
I tried to run the stubby.jar without setting the -d flag and got the following error:
[code]
So, either the **or** in documentation is confuse, because makes me believe that the -d flag is optional, which apparently is not, or this really should be possible, but there is some kind of bug in latest release.

[2017-12-08 07:05] azagniotov commented on #79
Hi @leonardocaldas You can update existing requests by ID: https://github.com/azagniotov/stubby4j#changing-existing-endpoints

[2017-12-08 07:07] azagniotov commented on #80
Yes, you cannot append if you POST programmatically. But, stubby supports hot reload of the YAML file. Which mean, if this is feasible, you could edit the file and it will get reloaded.

Btw, pull requests are welcomed :)

[2017-12-08 07:09] azagniotov commented on #81
Yeah. The `or` in documentation is confusing. Will update. Thanks

[2017-12-08 07:09] #81 closed

[2017-12-08 07:30] azagniotov commented on #72
Closing this for now.

[2017-12-08 07:30] #72 closed

[2017-12-08 07:31] azagniotov commented on #78
Closing this for now as there is no activity

[2017-12-08 07:31] #78 closed

[2017-12-08 07:31] azagniotov commented on #75
Closing this for now as there is no activity

[2017-12-08 07:31] #75 closed

[2017-12-08 07:32] azagniotov commented on #68
Feel free to submit a PR, but for now i am closing this issue

[2017-12-08 07:32] #68 closed

[2017-12-08 08:15] azagniotov commented on #79
I corrected the heading, so it is now: https://github.com/azagniotov/stubby4j#updating-existing-endpoints

[2017-12-08 08:15] leonardocaldas commented on #79
Hi @azagniotov, thanks for the fast reply.

I read that piece of documentation, but is very complicated to control things based on an 0-index ID, if you're working on a large team, with many people editing your YAML file, they could easily break the tests when changing the order of requests in the YAML without knowing there is a test depending on it.

[2017-12-08 08:16] azagniotov commented on #79
Fair enough. I am opened to suggestions or pull requests

[2017-12-17 01:56] asarkar opened #82 "Move to SLF4J instead of ANSITerminal"
The `ANSITerminal` is cute and all, but in an enterprise setting, it's not useful. For any non-trivial deployment, log management is serious business, and having a bunch of colorful console logs doesn't help with that. Not to mention some of the output is in black, and is not visible on a black console (who thought it was a good idea?).

I suggest that `ANSITerminal` be replaced with SLF4J. stubby

[2017-12-17 04:38] azagniotov commented on #82
@asarkar all valid points.Would you be happy to issue a PR?

[2017-12-17 05:31] asarkar commented on #82
A quick search shows 18 references to `ANSITerminal`; I may be able to put together a PR.

[2017-12-17 06:33] asarkar commented on #82
I was wrong, there are many more references. I made the changes, however, there appears to be tests that validate console output and are failing. Such tests are fragile, and IMO, serve no purpose. If you insist on keeping them, I'm afraid I'll have to pass on the PR.
WDYT?

[2017-12-17 06:55] azagniotov commented on #82
Well, @asarkar if `ANSITerminal` is going away, then the respective tests must go too because the behavior has changed. So, please go ahead and remove the tests. Thank you for your time

[2017-12-17 08:51] asarkar commented on #82
https://github.com/azagniotov/stubby4j/pull/83

[2017-12-17 23:14] asarkar opened #84 "Support multiple config files"
For large projects, it is not practical to have a single config file. ~~As soon as the files are split up, there arises a need to have placeholders in them to avoid duplication. For example, if we want to introduce a latency, instead of copy-pasting the value in 25 files, we will want to have a `${latency}` (see proposal 2 below).~~

I'm suggesting that:
1. stubby4j accept a config directory and m

[2017-12-18 02:50] asarkar commented on #84
I realized that filtering can be done as part of the build, and we don't need to write additional code. Simply support for config directory will be sufficient.

[2017-12-21 07:35] asarkar opened #85 "Metrics"
I need to report on request method, URL and response status. Dropwizard has a [metrics library](http://metrics.dropwizard.io/3.1.0/manual/jetty/) for Jetty, but I don't see how to use it with Stubby4J since it is not designed for extension and is a very closed system. For example, class `JettyFactory`; by definition, and as per factory design pattern, a factory can produce multiple types of the sa

[2018-01-08 17:37] asarkar commented on #82
Hello @azagniotov

[2018-01-09 07:25] azagniotov commented on #82
Hello!

Vacations. I will address this soon! Thank you for following up!

On Mon, Jan 8, 2018 at 9:37 AM, Abhijit Sarkar <notifications@github.com>
wrote:

[2018-01-14 21:00] azagniotov commented on #84
I am not sure if you saw (which also may not be super explicit), but the main config file can refer to other files: https://github.com/azagniotov/stubby4j#file .

That said, i can see how pointing `--data` to a config directory can make things more flexible as it is easier to deal with atomic files

[2018-01-14 21:01] azagniotov commented on #82
@asarkar looking at this now

[2018-01-14 21:23] azagniotov commented on #85
@asarkar As per documentation, the `stubby4j-x.x.x-no-jetty.jar` artifact is  an uber-ish JAR containing all the 3rd-party deps except Jetty. The idea here is that the consumer of the library will provide Jetty dependencies on the classpath.

Regarding `JettyFactory`, I respectfully disagree that the name misleading. A `factory` does not always mean that it produce multiple types of the same `thin

[2018-01-14 21:25] #82 closed

[2018-01-14 21:34] asarkar commented on #84
Now that you pointed out, I see the line above. However. it is not clear at all how to do this "split".

[2018-01-14 21:42] asarkar commented on #85
I think it'd make sense to separate the "server" from the "request matching" by splitting the project into separate modules, something like the following:
[code]

Of course, the names are just something I came up with.  This way, the uber jar could simply scoop up all of the above modules, while someone looking for additional features could implement the `server-api` with, say, `jetty-server-instr

[2018-01-14 21:43] azagniotov commented on #84
I will rephrase the documentation as it is indeed not clear. The idea of `file` is: you still have one main config file with all the stubs (which is not the same idea of the split you suggested - multiple files with stubs under the same directory). The `file` property allows you to load a content from another local file, instead of dumping a huge chunk of text i(for ascii) n the main config:
[code

[2018-01-14 21:45] asarkar commented on #84
I see. We can keep both functionalities. If `--data` is not a directory, existing behavior would continue.

[2018-01-14 22:07] azagniotov commented on #84
Btw, you can have a look at: https://github.com/azagniotov/stubby4j/blob/master/README.md#file & https://github.com/azagniotov/stubby4j/blob/master/README.md#file-1 I tried to clarify a little the supported split concept.

[2018-01-14 22:51] asarkar commented on #84
Looks good to me, although it's not the same thing as I ask for in this ticket. One thing though - you may want to mention that the `file` attribute only accepts relative path. I don't see why you can't accept absolute path, but that's not the current behavior, and perhaps another ticket.

[2018-01-14 22:51] azagniotov commented on #82
FYI, I released a new version `5.1.0` to Maven which includes the current change.

[2018-01-14 22:57] azagniotov commented on #84
The `file` can also accept an `absolute` path as documentation mentions, if not this is a bug.

Yes, it is not the same thing as you asked: making a `--data` to read a directory with multiple stub config files is a new behavior

[2018-01-14 23:12] asarkar commented on #84
I already implemented this behavior so can easily make a PR. However, if we go down the route as I propose in https://github.com/azagniotov/stubby4j/issues/85#issuecomment-357544889, it may change how the server is started.

[2018-01-14 23:14] azagniotov commented on #84
I think, we can take small step and improve incrementally. For now, feel free to export a PR with an implemented behavior, without addressing the idea in #85 (comment) (for now). Thoughts?

[2018-01-14 23:22] asarkar commented on #84
Sounds good. The refactor I proposed is major, so if I get to it, I can always submit a PR for further review and discussion.

[2018-01-14 23:26] azagniotov commented on #84
@asarkar Regarding this big refactoring, let's think about it a little more. I would not want you to spend time on something which takes a lot of effort/time, but does not have a pressing urgency.

[2018-01-14 23:28] azagniotov commented on #84
That said, of course I really appreciate your good intent!

[2018-01-14 23:38] asarkar commented on #84
I understand, and it’s not like Om looking to do things to waste my time. That said, if I need to implement metrics for my use case, the current design won’t do. My choices would then become A) create a fork B) don’t use it

[2018-01-14 23:52] azagniotov commented on #84
I am curious, why do you require metrics for stubby4j, which is a 3rd party library for you? What I mean is - how often do we find ourselves having to instrument metrics for a 3rd party library? i am not against it, just trying to understand the use case better.

Also, whatever time it takes to match the incoming response against the stubs,  should be negligible since it is all in-process calls. T

[2018-01-15 00:30] asarkar commented on #84
The complete requirement for metrics is not clear to me yet. I’ll update this ticket once the know what exactly is being asked for

[2018-01-15 02:19] azagniotov commented on #84
Sure. Thank you for that.

Looking forward to the config directory PR.

[2018-01-15 21:23] asarkar commented on #84
@azagniotov I can't get IntelliJ to compile the project, although it compiles successfully from command line. It appears that because of the non-standard directory structure, IntelliJ is confused. Is there a particular reason to not use the [conventional](https://maven.apache.org/guides/introduction/introduction-to-the-standard-directory-layout.html) source directories(`src/main` and`src/test`), a

[2018-01-15 22:52] azagniotov commented on #84
@asarkar it is a multi-module Gradle project structure with conventional source directories in each sub-module. I am not sure what version of Gradle you are running on your machine, but try renerate IDEA configuration files using Gradle: https://docs.gradle.org/current/userguide/idea_plugin.html

[2018-01-15 22:53] azagniotov commented on #84
Also, did you try creating `New Project from Existing Sources` and pointing IntelliJ to the `build.gradle` under the project root?

[2018-01-15 23:10] asarkar commented on #84
I know how to work with a Gradle project :) There’s something going on with the project structure here, but I don’t have the time to find out the root cause. I’ve the MR ready, but sadly my internet went down. Should be able to push it later today.

[2018-01-15 23:29] azagniotov commented on #84
I just used IntelliJ which did not have stubby4j configured, to `import a project` by pointing the IDE to stubby4j's `build.gradle`.

The project format selected in IDE was `.idea`, not `.ipr`, which is the default for me in the IDE. The IDE configured the project correctly as a Gradle project. I use IntelliJ `2017.1.5`. I did not have to run `./gradlew idea` to generate IDEA configuration file

[2018-01-16 00:51] asarkar commented on #84
MR is ready.

Regarding IntelliJ, I think the problem might be that you're not using the standard structure `src/main/java` and `src/main/test`. Instead, your root directory is `java` and you manipulate the `sourceSets` to make Gradle happy. I didn't try to reorganize the project and verify that theory, but it sure looks odd.

[2018-01-16 03:22] azagniotov commented on #84
@asarkar

The `src/main/test` mentioned by you, is not a standard structure. I think you meant to type: `src/test/java`. Also, the `java`directory `is` the source directory for test & main sources. This conforms to standard Maven directory structure, as per https://maven.apache.org/guides/introduction/introduction-to-the-standard-directory-layout.html

This is also the directory structure for each

[2018-01-16 03:32] azagniotov commented on #84
Also, I am closing this ticket because the discussions going on here are not related to the original inquiry & you already exported a PR

[2018-01-16 03:33] azagniotov commented on #84
Will keep ticket open until the PR is going to be merged

[2018-01-19 17:14] #84 closed

[2018-01-19 17:14] #85 closed

[2018-01-19 17:15] azagniotov commented on #79
I will try to address this, in the next few days

[2018-01-21 21:33] azagniotov commented on #79
Hi @leonardocaldas .. I want to start working on this, but not sure if you still need it. Regardless, I wanted to bounce few ideas of you regarding stub identifiers

[2018-01-22 01:43] azagniotov commented on #79
I started something, you can have a look: https://github.com/azagniotov/stubby4j/pull/87 this is still WiP

[2018-01-22 12:20] leonardocaldas commented on #79
Hi @azagniotov, thats great! I don't need it anymore, I found a workaround to my issue, but is definitely a nice feature to have.

[2018-02-22 16:48] RobinSmit opened #88 "MalformedURLException while using StubbyClient's startJetty method"
Hi all,

I'm getting a MalformedURLException when i use the startJetty method from the StubbyClient.
It may be possible that i'm not initializing Stubby the right way.

[code]

Can someone please tell me why that exception occurs?

**STACKTRACE:**
[code]

[2018-02-22 18:26] azagniotov commented on #88
Hi Robin,

How does your "stubdata.yml" look like?

It looks like there was a problem getting response, so what kind of request
are you making, what API on "StubbyClient" are you invoking? what
parameters are you passing?

P.S. Traveling now, please allow longer response times

On Thu, Feb 22, 2018 at 8:48 AM, Robin Smit <notifications@github.com>
wrote:

[2018-02-26 14:00] RobinSmit commented on #88
Thanks for your quick reply.
The issue seems resolved after a reboot. It could have been a hanging process that used the same port.

[2018-02-26 14:00] #88 closed

[2018-02-26 14:13] RobinSmit opened #89 "Help wanted: java.lang.IllegalArgumentException: No selectors"
Hi,

I'm trying to start Stubby but i'm getting a IllegalArgumentException when doing so.
I tried to parse the YAML file to make sure that it is Stubby-proof, and it seems to work. So that doesn't seems to be the problem.
Can someone please tell me what i'm doing wrong?

[code]

**Stacktrace**

[code]

**Yaml data file**

[code]

[2018-02-26 22:04] azagniotov commented on #89
Hi Robin,

1. What stubby4j artifact are you using - what's the full name of the artifact?

2. Do you have another Jetty binaries on the classpath?

3. What happens if you don't pre-parse the YAML, but just start the stubby:
stubbyClient.startJetty(STUB_PORT, ADMIN_PORT, "stubdata.yml");  ?
4. Are you getting this exception when running tests in the IDE?

Sent from my iDevice

[2018-02-28 16:41] RobinSmit commented on #89
Hi,

Thanks for your quick reply.
There was a Jetty dependecy on my classpath comming from Selenium. After i excluded that Jetty dependency it started working without any problems.

So, thanks a lot :+1:

[2018-03-02 09:13] dimadl opened #90 "Tokenized value in the header "Location""
Hi!
I've faced with the following issue:

Here is an example I'm trying:

[code]

Unfortunately, doing mentioned request I don't get "location" header in the response at all. Seems like exception happens on backend side.

Looking into the code, only DefaultResponseHandlingStrategy supports tokenized "location" header.

I can fix it. If you don't mind :)

[2018-03-15 04:02] MannanM opened #92 "StubsResponseHandlingStrategyFactory doesn't honor 404 responses"
If you set a custom stub to return a 404 response with payload,

[code]
Stubby4J doesn't honor it and instead uses the `NotFoundResponseHandlingStrategy`.
[code]
I think it should at least check if the `StubResponse` has a body, and if so use the `DefaultResponseHandlingStrategy` instead.

[2018-03-15 15:53] #89 closed

[2018-03-19 03:47] azagniotov commented on #90
@dimadl thank you. Will review your PR soon

[2018-03-19 03:50] #90 closed

[2018-03-19 03:51] azagniotov commented on #92
Thank you. I will try to address it soon

[2018-03-19 06:42] azagniotov commented on #92
This functionality will be available in the next release tomorrow

[2018-03-19 06:44] #92 closed

[2018-03-26 03:44] azagniotov commented on #79
FYI, @leonardocaldas https://github.com/azagniotov/stubby4j/pull/87 will merge soon

[2018-03-26 03:44] #79 closed

[2018-03-26 03:45] #80 closed

[2018-03-26 03:45] #64 closed

[2018-04-13 12:52] singh-virendra opened #93 "Not supporting multiple PATCH method requests."
I tried to put multiple patch requests in response.yaml, which is not working as expected(as it works for PUT and POST).

**response.yaml**
[code]

**failure-request.json**
[code]

**success.json**
[code]

Expected: It should return the response with 200, if no body is present while making request to url `/simulator/content/v1/url1`, else if the body `failure-request.json` is present then it shoul

[2018-04-15 01:03] azagniotov commented on #93
Fixed in v6.0.1

[2018-04-15 01:03] #93 closed

[2018-04-15 09:48] singh-virendra commented on #93
It's not working as expected. Even already working flows stopped working now. Opening new issue with logs.

[2018-04-15 09:53] singh-virendra opened #95 "Fix for Issue#93: Fix not working. Even already working flows stopped working."
I had logged the issue #93 for PATCH method with body support couple of days back. After fix #94 for the same issue, it's not solved, and even already working flows like PUT also stopped working.
Expected: it should return "200" for the flow where the file is not provided in the request, and "404" if the file is configured in the request.
Actual: Always returning response "200" which is configured

[2018-04-16 00:08] azagniotov commented on #95
Thank you for providing this. Could you please provide more information about your use cases:

What request (method, request body, etc) exactly are you sending to the stub server?

[2018-04-16 04:05] singh-virendra commented on #95
As mentioned in my previous issue:
I tried to put multiple patch requests in response.yaml, which is not working as expected(as it works for PUT and POST).

**response.yaml**
[code]

**failure-request.json**
[code]

**success.json**
[code]

Expected: It should return the response with 200, if no body is present while making request to url `/simulator/content/v1/url1`, else if the body `failure-req

[2018-06-14 12:54] DvirSh opened #98 "Q: using authorization-bearer required "Bearer" to appear twice?"
I'm using the following yml file:
[code]

And then when using Postman, I'm trying to call the following url:
```http://loclahost:3001/hello```
With headers:
[code]

And I get 401.
When using the following headers:
[code]
It works and I get 200.
The thing is, I don't want to specify Bearer twice (and I don't need to).
Is this an issue, or am I doing something wrong?

[2018-06-15 10:55] mhcastro opened #99 "Error when extracting POST body: java.util.NoSuchElementException"
**Stubby4j parameters**

VERSION - **4.0.3**
RUNTIME CLASSPATH - **/stubby4j/stubby4j-4.0.3.jar**
LOCAL BUILT DATE - **Wed Oct 26 13:35:23 PDT 2016**

--

Test is to post a physical file. Therefore, given the endpoint:

[code]
Got the following errors:

`POST [stubs]/word/post-test: Error when extracting POST body: java.util.NoSuchElementException, returning null..`

and

`Failed to match on POST

[2018-06-15 11:03] mhcastro commented on #99
This is the output in the debug mode:

[code]

[2018-06-15 11:07] #99 closed

[2018-06-15 11:07] mhcastro commented on #99
Found an issue in the test process. Closing this ticket.

[2018-09-25 01:40] asarkar opened #100 "Upgrade to snakeyaml 1.23"
When using with Spring Boot 2, Stubby4J fails to start because the snakeyaml classes packaged in the jar are not compatible with Spring Boot 2. This has been fixed in Boot 2.1.0.M3, but that doesn't help since Stubby4J is still packaging snakeyaml 1.20. See the following snippet taken from a build scan, which by the way, wasn't possible with the prehistoric version of Gradle that's in the master b

[2018-09-25 17:14] azagniotov commented on #100
Thanks, will look into this asap

[2018-09-25 21:31] asarkar commented on #100
Thank you, please consider upgrading Gradle as well. Like I said above, the build scan made dependency analysis a lot simpler and it isn't available in Gradle 2.0

[2018-09-25 23:29] azagniotov commented on #100
I accept PRs :)

[2018-09-28 04:34] asarkar commented on #100
I'm sure you do, but do you really need help for changing some text from `2.0` to `4.10.2`?

[2018-10-03 14:08] golfapipol opened #102 "How to make dynamic xml request"
I have a problem when I want to stub SOAP api with regexp (.*) in dynamic field but it's not work
[code]
here is request.xml
[code]
sample post json
[code]

[2018-12-27 14:08] DvirSh opened #103 "Feature suggestion: GET /history"
Hi all,
I've been using stubby4j for a while, especially the docker image for my integration tests with docker-compose, and it's amazing!
However, recently I came across this scenario: I want to be able to test a 'side effect' of my service. That means, I have a service that returns a value, but also performs something like writing some data asynchronously to a database or something.
So basically,

[2019-01-15 09:17] moleksyuk commented on #100
@azagniotov see my pull request #105

[2019-01-16 09:50] moleksyuk commented on #100
@azagniotov
**Tested with**: `v6.0.2`
**Status**: ✅ Fixed
This ticket can be closed.

[2019-01-31 19:31] tiago-rocha-gomes commented on #41
Hi guys, sorry for reopen this thread. I would to do exactly this. How can I do?
Thanks!
My YAML:

`-  request:
      url: /privado/Alelo/Beneficios/CompanyService
      method: POST
      post: >
         <soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:com="http://CompanyService.integrador.alelo.com.br">
            <soap:Header/>
            <soap:Body>
               <

[2019-07-10 18:55] mattferreiras commented on #95
Hey guys!
This issue has been fixed?
We are having this same error for PATCH with request body.
This was the followign error in docker compose log:

![stubby-error](https://user-images.githubusercontent.com/6461217/60996466-0556b300-a32b-11e9-9a61-de13abacb93f.png)

[2020-10-01 22:39] josephearl opened #106 "Issue with Spring Boot 2.3.4 - Upgrade to Snake YAML 1.26"
When upgrading the Spring Boot version from 2.3.3 to 2.3.4, the Spring Boot tests fail to start with:

[code]

I have created a minimal reproducible example with instructions at https://github.com/josephearl/spring-boot-stubby4j-example.

[2020-10-01 22:42] azagniotov commented on #106
Hi @josephearl , perhaps it is time to upgrade SnakeYAML. It looks like there are two versions on the classpath where on of the versions may be outdated...

[2020-10-02 06:55] josephearl commented on #106
I'm not really clear on why it happens given I am using Spring's Dependency Management, which sets snakeyaml 1.26 as a managed dependency, so there should be only 1 version on the classpath...

[2020-10-02 07:06] josephearl commented on #106
Oh yes, on further inspection of the README it says the stubby4j is a fat jar, so my mistake is not using the `no-dependencies` classifier. After testing with that it works fine.

It might be worth considering using different artifacts rather than using different classifiers - mostly for visibility - tools like Maven central don't surface available classifiers (unless I'm looking in the wrong plac

[2020-10-03 18:46] #106 closed

[2020-11-25 11:34] #100 closed

[2020-11-25 12:00] azagniotov commented on #98
More than two years later, but I finally got to take a look. Apologies @DvirSh
I cannot reproduce the issue. I tried multiple stubby4j versions starting (incl.) from `v6.0.2`

I tested with cURL:
[code]
and the app behaved as expected

[2020-11-25 12:00] #98 closed

[2020-11-26 02:21] azagniotov opened #122 "ANNOUNCEMENT: BREAKING CHANGES FROM v7.0.0"
Starting from Jetty `v9.4.21`, the Jetty team has cleaned up the `sendError` handling significantly. Feel free to read more about it: https://github.com/eclipse/jetty.project/issues/4154

In `v7.0.0` `stubby4j` has been upgraded to Jetty `v9.4.31.v20200723`. This means that the error messages for `4.x.x` HTTP error codes that `stubby4j` returns, will no longer be as descriptive. Instead, the error

[2021-02-19 13:39] #95 closed

[2021-02-19 13:57] #102 closed

[2021-02-19 13:58] azagniotov commented on #103
It is not a bad idea, but honestly I do not think i will get to this any time soon.

[2021-02-19 13:58] #103 closed

[2021-02-19 14:00] azagniotov commented on #102
In your request.xml, there is a line break in:
[code]

Did you try:
[code]

[2021-02-24 05:28] harrysun2006 opened #145 "Split yaml config file"
Hey Alexander,
My team starts to use stubby4j. It's a lightweight mocking tool and we love its simplicity. Thank you for bringing up this wonderful tool.
However, while we keep adding stub endpoints into the yaml config file, it becomes bigger and bigger. I've done some research around, but couldn't find a feature like "import" or "include" to allow us to split the all-in-one yaml config file into

[2021-02-24 05:52] azagniotov commented on #145
Hi @harrysun2006 ,

Thank you for the kind words!

You are right - there is one main YAML config file. But, there is an option to use the `file` key under `request` or/and `response` sections in order to "include" large stubbed request payloads or response bodies. I wonder if the following can make your lives easier: https://github.com/azagniotov/stubby4j#file

Please let me know if the above help

[2021-02-24 22:29] harrysun2006 commented on #145
Hi Alex,

Thanks for your prompt response. Actually, we have split request and response payloads in separate folders and files on per service/endpoint basis. So the stubby component in our project has a structure like:
- stubby.yaml
[code]
and correspondingly, we have service1, service2 folders and response1.json, response2.json in service1 folder etc. etc.

Our application talks with many downstr

[2021-02-24 23:25] azagniotov commented on #145
Hi Harry,

I see. Another idea that I am thinking about perhaps I can look into making the `--data` accept a directory where you can have multiple `service*.yaml`. Upon load, all those files will be merged into one YAML in-memory.

[2021-02-25 00:15] harrysun2006 commented on #145
Thanks Alex. That would be great!

[2021-02-25 12:57] azagniotov commented on #145
Hello @harrysun2006

Would you be able to sanity check the new behavior for me? I have tested it manually and through automated functional tests and it seems that app behaves as expected. Could you fork the repo and run:

1. `./gradlew clean integrationTest functionalTest build`
2.  the JAR to run is under `build/libs/stubby4j-7.1.1-SNAPSHOT.jar`

Pls create a main YAML file which you pass under `

[2021-02-25 18:39] harrysun2006 commented on #145
Hi Alex,

I did some test on build and the new structure, all good except a minor test error under java 11 (no errors when building under java 8):

[code]

The project is running well and now the config files are much cleaner.

Great job!

Thanks,
Harry

[2021-02-25 23:36] azagniotov commented on #145
Harry, thank you! I will release the new JAR then soon. Also, thanks for picking up java 11 issue. Will address it separately

[2021-02-26 00:15] harrysun2006 commented on #145
Thank you, Alex. Much appreciated!

[2021-02-26 01:23] #145 closed

[2021-02-26 01:33] azagniotov commented on #145
@harrysun2006 pls wait for `v7.1.1` to become available on Maven Central in a few hours. Also, I have updated the docs: https://github.com/azagniotov/stubby4j#supplying-stubbed-endpoints-to-stubby

[2021-02-28 08:40] azagniotov commented on #95
@mattferreiras yes

[2021-03-02 04:46] azagniotov commented on #145
Also, @harrysun2006 I am not sure if running in Docker is relevant to your eco system, but just as FYI - there are stubby Docker images in DockerHub: https://hub.docker.com/r/azagniotov/stubby4j

[2021-03-02 06:48] harrysun2006 commented on #145
Thanks Alex. We build the stubby4j docker image based on openjdk:11-jre-slim.

[2021-03-02 08:38] azagniotov commented on #145
Got it. I just published another stubby4j image to DockerHub, which is based on `zulu-openjdk-alpine-11.0.7-jre` (I resolved the failures in tests you observed on JDK 11)

[2021-03-03 06:34] harrysun2006 opened #170 "How to disable the RegEx pattern cache?"
Hey Alex,

I'm just wondering is there a way to disable the RegEx pattern cache from command line? In my project, I need to response different payloads based on the request payload (url and headers are same). So I defined a few rules (request/response) with different RegEx pattern in `post` field and I noticed that the matching is tried on rules in natural order before any such rules are cached. H

[2021-03-03 06:48] harrysun2006 opened #171 "How to match "a token not in the payload" with RegEx pattern?"
Hi Alex,

Also I hit an issue on the RegEx pattern.

I defined a RegEx pattern:
`.*([^"Declaration"\:]).*"firstName":"(.*?)".*"capSubProductCode":"(\w+)".*"natureOfProduct":"(\w+)".*`

hoping it would match to the payload like:
[code]

It passed the [online Java Regular Expression Tester](https://www.freeformatter.com/java-regex-tester.html#ad-output). But unfortunately, the stubby4j does not like

[2021-03-03 08:45] azagniotov commented on #171
Hi Harry,

I quickly wrote a unit test (just for the sake of sanity check) and indeed your provided Regex matches your provided payload:
[code]
I will look deeper to understand what is happening inside stubby4j

[2021-03-03 09:45] azagniotov commented on #171
Harry, I have identified a bug which resulted in the current issue: I was escaping regex pattern characters in stubbed values unnecessarily, which caused that regex matching failures.

[2021-03-03 10:37] azagniotov commented on #84
Precedes to https://github.com/azagniotov/stubby4j/issues/145 and addressed in https://github.com/azagniotov/stubby4j/pull/152

@asarkar ^ FYI

[2021-03-03 10:42] azagniotov commented on #171
Tested also by making a POST to the standalone stubby4j jar using ApiKitchen. Works as expected. I will release a new stubby4j version in order to unblock you

[2021-03-03 11:04] azagniotov commented on #171
Version `v7.1.2` has been pushed to Maven Central

[2021-03-03 12:04] azagniotov commented on #170
Hi Harry,

For context:

There are two caches in stubby4j:
1. [RegexPatternCache](https://github.com/azagniotov/stubby4j/blob/master/src/main/java/io/github/azagniotov/stubby4j/caching/RegexPatternCache.java)
2. [StubHttpLifecycleCache](https://github.com/azagniotov/stubby4j/blob/master/src/main/java/io/github/azagniotov/stubby4j/caching/StubHttpLifecycleCache.java)

The `RegexPatternCache` is use

[2021-03-03 12:53] azagniotov commented on #170
I tried to reproduce the issue you are experiencing in the following PR https://github.com/azagniotov/stubby4j/pull/176 (see the stubs and the `stubby4jIssue70` test case and to make sure that the behavior of stubby4j is as expected when the cache is disabled. I will make this cache off by default and it could be enabled via a flag (this is easier & faster than a full fledged refactoring at this p

[2021-03-03 14:57] azagniotov commented on #170
Harry, I got to this sooner than I anticipated: version `v7.1.3` has been pushed to Maven Central. So, you can skip the `v7.1.2`

[2021-03-04 02:23] harrysun2006 commented on #171
Thanks Alex.

[2021-03-04 02:30] harrysun2006 commented on #170
Hi Alex,
Thanks for the detailed explanation. Now I understand it's the `StubHttpLifecycleCache` which causes some issues in my test  because I have stubs sharing same URL and method.
I will do some test with `v7.1.3` and let you know the results.
Cheers,
Harry

[2021-03-04 02:50] azagniotov commented on #170
Great, Harry. Looking forward to hear about the results and if there are any other issues

[2021-03-04 03:31] harrysun2006 commented on #171
It's tested and working well in `v7.1.3`.

[2021-03-04 03:33] azagniotov commented on #171
Great to hear, Harry. I will close the current issue

[2021-03-04 03:33] #171 closed

[2021-03-04 03:34] harrysun2006 commented on #170
It's tested and working well in `v7.1.3`. I can see now the first matched rule is always picked up even when some other rules (with same URL and method) were cached from earlier matches.
Great job. Thanks Alex 👍

[2021-03-04 03:53] azagniotov commented on #170
Awesome!

[2021-03-04 03:53] #170 closed

[2021-03-04 04:25] azagniotov commented on #170
Harry, just for the sake of clarity I wanted to mention that in `v7.1.3` the `StubHttpLifecycleCache` is completely disabled.

I do have a PR outstanding to bring it back https://github.com/azagniotov/stubby4j/pull/179 where I am caching stubs not just by a URI, but by the [hashCode of the incoming request](https://github.com/azagniotov/stubby4j/blob/master/src/main/java/io/github/azagniotov/stubb

[2021-03-04 22:35] harrysun2006 commented on #170
Hey Alex, I noticed that there was no stub matched from caches any more during my test. I think `StubHttpLifecycleCache` based on `URL + method + hash of request` as cache key is good enough.

[2021-03-05 06:37] azagniotov commented on #170
Hi Harry, just FYI I release `v7.2.0` to Maven just now. The changes are https://github.com/azagniotov/stubby4j/blob/master/CHANGELOG.md#720 I did not observe any issues when doing automated and manual testing, so I hope things will be as smooth for you as now.

[2021-03-05 09:56] harrysun2006 commented on #170
Hi Alex, I will do some text when `v7.2.0` is available on mvnrepository and get back to you with my test results. Have a good weekend.

[2021-03-05 11:16] azagniotov commented on #170
It is on Maven Central now: https://search.maven.org/search?q=g:io.github.azagniotov%20AND%20a:stubby4j

Have a great weekend too!

[2021-03-09 01:49] harrysun2006 commented on #170
Tested with version `v7.2.0` jar, it's all good now. Thanks Alex! 😄

[2021-03-09 02:58] azagniotov commented on #170
Nice! Thanks for letting me know!

[2021-03-11 06:35] azagniotov opened #222 "Test"
**Describe the bug**
A clear and concise description of what the bug is.

**YAML config**
Paste here YAML config used or provide an example:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-03-15 02:23] LenarBad opened #232 "[FEATURE REQUEST] Request proxying"
Proxy.

For example there is an existing web service.

 - The requests that have a matching stub should return the configured responses
 - The requests that don't match any Stubby4j's stub should go to the existing service as is (or maybe with the changes that we want to make before they go to the service)

So we can modify the existing behavior of the web service for specific requests.
The servic

[2021-03-15 10:31] azagniotov commented on #232
Hi @LenarBad ,

Thank you for providing the context. Right now, I am thinking about a potential implementation approach (below, just thinking aloud here), please let me know what you think:

In addition to configuring stubs in YAML or via a POST/PUT, you will also have to configure one or more `proxy-config`s, where the `proxy-config` describes how `stubby4j` should treat requests that don't match

[2021-03-15 18:14] LenarBad commented on #232
Looks good.
However I would start with one "DEFAULT" proxy config like

[code]

So if this config exists then all non-matching requests will be proxied

For example a non-matching request to `/posts/8/comment` will go to `https://jsonplaceholder.typicode.com/posts/8/comment`
Also I suggest adding a new header to the proxied requests for security purposes that let users track these proxied requests

[2021-03-15 18:22] LenarBad opened #238 "[FEATURE REQUEST] Create a client to simplify configuration through HTTP"
We could give users the tool (Java client) to configure a running Stubby4j instance programmatically from the code without having to implement the stubby4j admin client.

Example of the admin client implementation for reference - [Admin Client](https://www.lenar.io/dependency-and-error-testing-with-stubby4j/)

[2021-03-16 00:39] azagniotov commented on #232
Thanks for the feedback, @LenarBad . Sounds good. Good suggestion on the tracking header too.

[2021-03-18 07:36] azagniotov commented on #232
Hi @LenarBad , I am nearly finished and writing documentation now. Will you be able to test the new functionality? If so, can you clone the repo & build a JAR from  the `master` branch OR will you require the JAR to be available on Maven Central?

P.S. Do not test yet, I want to finish the doco first

[2021-03-18 08:36] azagniotov commented on #232
@LenarBad FYI: https://github.com/azagniotov/stubby4j#request-proxying

[2021-03-18 08:47] azagniotov commented on #238
@LenarBad in the meanwhile before I get to this, and somewhat on the topic, I updated the documentation about the management REST API, could you have a look? I appreciate your feedback: https://github.com/azagniotov/stubby4j/blob/master/ADMIN_PORTAL.md

[2021-03-21 00:30] azagniotov commented on #232
I released `v7.3.0`

[2021-03-21 23:22] azagniotov commented on #238
@LenarBad Perhaps the following can help you when configuring stubs through HTTP via the admin portal. stubby4j has a class `YamlBuilder`, a builder, that enabled you to build a YAML string, which can be used as a payload. I admit that this is not obvious from the docs. You can then make a `PUT` request to the admin portal.

I [wrote a test to demonstrate the usage](https://github.com/azagniotov/s

[2021-03-23 10:20] azagniotov opened #266 "[NEW FEATURE]: Request Proxying is GA"
As of `v7.3.0` of `stubby4j`, a new feature is available that enables you to configure a proxy/intercept where requests are proxied to another service (i.e.: a real, live service), when such requests did not match any of the configured stubs.

Please refer to https://github.com/azagniotov/stubby4j#request-proxying and https://github.com/azagniotov/stubby4j#running-in-docker for more information

[2021-03-23 10:23] azagniotov commented on #170
@harrysun2006 apologies for reusing this ticket, but just FYI, new feature: https://github.com/azagniotov/stubby4j#request-proxying

[2021-03-23 10:32] azagniotov opened #267 "[DOCKER HUB]: stubby4j Docker images are on DockerHub"
`stubby4j` Docker images are hosted on https://hub.docker.com/r/azagniotov/stubby4j. Please refer to `How to use this image`

[2021-03-23 10:33] harrysun2006 commented on #170
Hey Alex, no need to apologise and thank you for letting me know. It's a nice new feature that will be helpful in many scenarios.

[2021-03-24 06:00] #122 closed

[2021-03-24 09:24] azagniotov commented on #232
I released `v7.3.1`. The docs:  https://github.com/azagniotov/stubby4j#request-proxying

For now, I will close this ticket. Feel free to reopen it if needed or raise a new ticket. Thank you for raising this feature request!

[2021-03-24 09:24] #232 closed

[2021-04-04 07:47] azagniotov commented on #267
@harrysun2006 just FYI ^

[2021-04-09 04:33] harrysun2006 commented on #267
Thanks Alex

[2021-09-03 00:08] azagniotov commented on #238
@LenarBad I hope all is good on your end. I will close this in the meanwhile, feel free to reopen.

[2021-09-03 00:08] #238 closed

[2021-11-26 04:55] azagniotov opened #384 "[NEW FEATURE RELEASED]: Added support for HTTP/2 over TLS"
As of `v7.4.0` of `stubby4j`, as a new feature support for HTTP/2 over TLS using ALPN extension is available. See [Support for HTTP/2 on HTTPS URIs over TLS](https://github.com/azagniotov/stubby4j/blob/master/README.md#support-for-http2-on-https-uris-over-tls) section

Also, completely revisited TLS configuration in stubby4j, which enables support for `TLSv1.0`, `TLSv1.1`, `TLSv1.2` and `TLSv1.3`.

[2021-12-08 16:21] itsjxck opened #399 "[QUESTION] Regex with XML in request.file and response.file"
We're using Stubby4J to mock a SOAP API but we're having issues extracting values from the request and injecting them into the response.

The stub config is similar to the following (removed project specific naming):
[code]

In `ExpectedRequestFormat.xml` we have multiple instances of the following:
[code]

And in `SomeServiceResponse.xml` we have:
[code]

We have also tried the following:
[code]

[2021-12-09 00:15] azagniotov commented on #399
Hi @itsjxck ,
From a brief glance, based on your examples, I see nothing that jumps out at me.  I will have a deeper look later on today, in ~6-7 hours. Thank you for your patience.

Also, could you let me know what stubby4j version are you using?

[2021-12-09 08:13] azagniotov commented on #399
@itsjxck, I had a look and there two issues:

#### TL;DR
1. Deficient documentation about the behavior of XMLUnit matchers in dynamic token replacement
2. A bug related to token names in dynamic token replacement

#### Details
1. When XMLUnit Matcher is used in the stubbed XML payload, i.e.: `${xmlunit.matchesRegex(.*)}`, this only helps with the XML regex matching. But, using XMLUnit Matcher does

[2021-12-09 10:38] itsjxck commented on #399
@azagniotov thanks for the info!

I'll give it a go with just vanilla matching and your suggestions and will report back any findings.

[2021-12-09 11:05] itsjxck commented on #399
Okay so unfortunately it looks like it still doesn't work. I have updated the request file to use vanilla regex like so:
[code]
With the response file updated like so:
[code]
And I still receive the raw xml response file

[2021-12-09 11:41] azagniotov commented on #399
That's odd. The test https://github.com/azagniotov/stubby4j/pull/400/files#diff-5411e730423912026ff3af1d740fdce6192bc1cd34b5c065950165ace6a0e3ebR1398-R1425 passes as I am doing what you just described:

YAML config: https://github.com/azagniotov/stubby4j/blob/master/src/functional-test/resources/yaml/include-reported-issues-test-stubs.yaml#L195-L204

1. Stubbed request payload: https://github.com/

[2021-12-09 11:56] itsjxck commented on #399
I did see those tests and the only difference is the fact the fields we are trying to extract from and inject into are nested. Using version 7.4.0. I unfortunately can't share the complete files but here is the request xml with elements renamed:
[code]
And the response xml with fields renamed:
[code]

[2021-12-09 11:57] azagniotov commented on #399
Let me take a look, thanks for providing a more complete example

[2021-12-09 12:26] itsjxck commented on #399
That really is strange!

1. We are using [this node soap package](https://www.npmjs.com/package/soap) which makes a POST request as confirmed by this line from the Stubby4j logs: `Matched on stubbed METHOD [[POST]] WITH incoming [[POST]]`
2. We don't explicitly set any HTTP headers while using the SOAP client, however I will try this.
3. Stubby4j is running in a docker container using the official

[2021-12-09 12:42] azagniotov commented on #399
Let me do a Docker-based test instead of programmatical test and by making a cURL request to it... What is the stubby Docker image are you running?

[2021-12-09 13:41] itsjxck commented on #399
Sorry for the delay, we're using `azagniotov/stubby4j:7.4.0-jre11` specifically

[2021-12-09 14:20] azagniotov commented on #399
While I was debugging and trying my own cURL requests against a running standalone JAR (first, before making requests to the JAR running in Docker), I think I actually fixed the original two issues in the last few PRs (in `master` branch now), as described in: https://github.com/azagniotov/stubby4j/issues/399#issuecomment-989611874  , more specifically: using `${xmlunit.matchesRegex(.*)}` to token

[2021-12-09 14:29] itsjxck commented on #399
Oh interesting! So I can switch back to the xmlunit matching as well? Double win!

I'll give a new version a go once I see it pop up on dockerhub, thanks for investigating this!

[2021-12-09 14:31] azagniotov commented on #399
Give me a few mins, I will post a message here when I pushed the tag

[2021-12-09 15:06] azagniotov commented on #399
I just pushed to `azagniotov/stubby4j:latest-jre11`. I also checked that the above cURL works against stubby4j running in the Docker container, the response was as expected.

So to try to sum everything up:
1.  Have a proper formatted XML, so the escapes like this are no longer needed `<\?xml version="1.0"... "\?>`
2. Try using `${xmlunit.matchesRegex(.*)}`, the dynamic tokens should get replace c

[2021-12-09 15:13] itsjxck commented on #399
Perfect! Can confirm that it does indeed work for us as well now!

Thanks for your help with this, really appreciate it!

[2021-12-09 15:17] azagniotov commented on #399
Oh, awesome!  I am glad to hear this and I am glad I could help. I will close this issue, please feel free to re-open (or make a new one)

[2021-12-09 15:17] #399 closed

[2021-12-10 05:25] azagniotov opened #409 "[NEW FEATURE RELEASED]: Added support for WebSocket [RFC6455] over HTTP/1.1 and HTTP/1.1 with TLS"
As of `v7.5.0` of `stubby4j`, added support for stubbing WebSockets protocol ([RFC6455](https://datatracker.ietf.org/doc/html/rfc6455)) connections over `HTTP/1.1` and `HTTP/1.1` with TLS. In other words, you can stub a web socket with the `stubby4j` app, and use it to exchange messages across the WebSocket connection between `stubby4j` web socket server and your client.

This can help you to perf

[2021-12-10 05:29] azagniotov commented on #399
@itsjxck , I pushed `azagniotov/stubby4j:7.5.0-jre11`, in case if you want to be fixed to a specific tag. It has all the behavior we tested, and some more (all of that was in the `master` already anyways): https://github.com/azagniotov/stubby4j/blob/master/docs/CHANGELOG.md#750

Cheers

[2021-12-16 08:38] azagniotov opened #416 "[SECURITY] Upgrade log4j to 2.16.0 as a vulnerability workaround"
This ticket is to capture PRs made as a result of changes advised by the Apache Foundation in https://logging.apache.org/log4j/2.x/security.html as part of workaround to the recently discovered vulnerabilities in log4j `v2.x.x`

To address:
- https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-44228
- https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-45046

[2021-12-16 09:11] azagniotov commented on #416
Applied retroactive fix for tag: https://github.com/azagniotov/stubby4j/releases/tag/v7.3.3 and rebuilt [stubby4j Docker image tag](https://hub.docker.com/r/azagniotov/stubby4j/tags) `azagniotov/stubby4j:7.3.3-jre8`

[2021-12-16 09:40] azagniotov commented on #416
Applied retroactive fix for tag: https://github.com/azagniotov/stubby4j/releases/tag/v7.4.0 and rebuilt [stubby4j Docker image tags](https://hub.docker.com/r/azagniotov/stubby4j/tags):

- `azagniotov/stubby4j:7.4.0-jre8`
- `azagniotov/stubby4j:7.4.0-jre11`
- `azagniotov/stubby4j:7.4.0-jre16`

[2021-12-16 10:05] azagniotov commented on #416
Applied retroactive fix for `master` branch and tag: https://github.com/azagniotov/stubby4j/releases/tag/v7.5.0 and rebuilt [stubby4j Docker image tags](https://hub.docker.com/r/azagniotov/stubby4j/tags):

#### master
- `azagniotov/stubby4j:latest-jre8`
- `azagniotov/stubby4j:latest-jre11`
- `azagniotov/stubby4j:latest-jre16`

#### v7.5.0
- `azagniotov/stubby4j:7.5.0-jre8`
- `azagniotov/stubby4j:7

[2021-12-16 10:05] #416 closed

[2021-12-16 10:07] azagniotov commented on #267
`stubby4j` Docker images that use `log4j2` and that were affected as a result of [recent log4j2 vulnerability](https://logging.apache.org/log4j/2.x/security.html) have been re-built as part of the mitigation effort captured by the following ticket https://github.com/azagniotov/stubby4j/issues/416

[2021-12-16 10:16] azagniotov commented on #399
@itsjxck, just FYI:

`stubby4j` Docker images that use `log4j2` and that were affected as a result of [recent log4j2 vulnerability](https://logging.apache.org/log4j/2.x/security.html) (i.e.: `latest` and  <= `v7.5.0`) have been re-built as part of the mitigation effort captured by the following ticket https://github.com/azagniotov/stubby4j/issues/416

[2021-12-20 13:07] azagniotov opened #433 "[SECURITY] Upgrade log4j to 2.17.0 as a vulnerability workaround"
This ticket is related to #416 and is to capture PRs made as a result of changes advised by the Apache Foundation in https://logging.apache.org/log4j/2.x/security.html#log4j-2.17.0 as part of workaround to the recently discovered vulnerabilities in log4j `v2.x.x`

To address:
- https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-45105

[2021-12-26 03:34] azagniotov commented on #433
Applied retroactive fix for tag: https://github.com/azagniotov/stubby4j/releases/tag/v7.3.3 and rebuilt [stubby4j Docker image tags](https://hub.docker.com/r/azagniotov/stubby4j/tags):
- `azagniotov/stubby4j:7.3.3-jre8`
- `azagniotov/stubby4j:7.3.3-jre11`
- `azagniotov/stubby4j:7.3.3-jre15`

[2021-12-26 09:50] azagniotov commented on #433
Applied retroactive fix for tag: https://github.com/azagniotov/stubby4j/releases/tag/v7.4.0 and rebuilt [stubby4j Docker image tags](https://hub.docker.com/r/azagniotov/stubby4j/tags):

- `azagniotov/stubby4j:7.4.0-jre8`
- `azagniotov/stubby4j:7.4.0-jre11`
- `azagniotov/stubby4j:7.4.0-jre16`

[2021-12-26 11:34] azagniotov commented on #433
Applied retroactive fix for tag: https://github.com/azagniotov/stubby4j/releases/tag/v7.5.0 and rebuilt [stubby4j Docker image tags](https://hub.docker.com/r/azagniotov/stubby4j/tags):

#### v7.5.0
- `azagniotov/stubby4j:7.5.0-jre8`
- `azagniotov/stubby4j:7.5.0-jre11`
- `azagniotov/stubby4j:7.5.0-jre16`

[2021-12-26 11:34] #433 closed

[2021-12-30 09:34] azagniotov opened #445 "[SECURITY] Upgrade log4j to 2.17.1 as a vulnerability workaround"
This ticket is related to #416 and #433 and is to capture PRs made as a result of changes advised by the Apache Foundation in https://logging.apache.org/log4j/2.x/security.html#log4j-2.17.1 as part of workaround to the recently discovered vulnerabilities in log4j `v2.x.x`. This ticket enhances the https://github.com/azagniotov/stubby4j/issues/267

To address:
- https://cve.mitre.org/cgi-bin/cvenam

[2022-01-02 05:55] azagniotov commented on #445
Applied retroactive fix for tag: https://github.com/azagniotov/stubby4j/releases/tag/v7.3.3 and rebuilt [stubby4j Docker image tags](https://hub.docker.com/r/azagniotov/stubby4j/tags):
- `azagniotov/stubby4j:7.3.3-jre8`
- `azagniotov/stubby4j:7.3.3-jre11`
- `azagniotov/stubby4j:7.3.3-jre15`

[2022-01-02 08:44] azagniotov commented on #445
Applied retroactive fix for tag: https://github.com/azagniotov/stubby4j/releases/tag/v7.4.0 and rebuilt [stubby4j Docker image tags](https://hub.docker.com/r/azagniotov/stubby4j/tags):

- `azagniotov/stubby4j:7.4.0-jre8`
- `azagniotov/stubby4j:7.4.0-jre11`
- `azagniotov/stubby4j:7.4.0-jre16`

[2022-01-02 09:28] azagniotov commented on #445
Applied retroactive fix for tag: https://github.com/azagniotov/stubby4j/releases/tag/v7.5.0 and rebuilt [stubby4j Docker image tags](https://hub.docker.com/r/azagniotov/stubby4j/tags):

#### v7.5.0
- `azagniotov/stubby4j:7.5.0-jre8`
- `azagniotov/stubby4j:7.5.0-jre11`
- `azagniotov/stubby4j:7.5.0-jre16`

[2022-01-02 09:28] #445 closed

[2022-01-07 13:40] azagniotov opened #451 "[ENHANCEMENT] Moving the baseline to JDK 11 and moving to Jetty 11"
This ticket is to capture PRs made as a result of moving the baseline (i.e.: `master` branch to JDK 11) and migrating the library to [Jetty 11](https://webtide.com/jetty-10-and-11-have-arrived/) in order to continue benefit from the latest features that do not end up in jetty `v9.x.x`

[2022-06-15 21:35] ChinthakaSenanayaka opened #455 "[FEATURE REQUEST] We want to have a way to get a count on requests made to stub uri and reset the count for next test to run"
**Describe the solution you'd like**
We have a scenario which removes deduplication. In that case, there will be no call to 3rd party API. Otherwise application should call exactly 1 time to the 3rd party API.

I'd like to see based on the UUID for each stub, there should be record and replay/verify way like "/count/<UUID for the stub>" to get the count of requests.

**Additional context**
Further

[2022-10-13 11:17] kumarpramodlohar opened #457 "for websocket on-message's client request from the text file new line (Enter) not accepted by using of stubby4j any solution or guideline to use new line in requested file, my requirement is, in requested text file must use multiline value"
**Please provide some basic information about you environment**
- What is your OS: Windows/Mac/*Nix:
- What is stubby4j version you are running:
- Are you running stubby4j in Docker container or as a standalone JAR:
- If Docker container, what is the image tag:

**Is your question request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm alway

[2022-10-14 07:41] azagniotov commented on #457
Hi @kumarpramodlohar , it is hard to understand 100% what your problem is since you packed so much information into the issue subject field. Can you please describe in detail using a new comment what is your use-case and what you are trying to achieve.  Thank you

[2022-10-14 09:11] kumarpramodlohar commented on #457
Hi azagniotov,
I have one microservice for getting real time information, using spring boot, websocket, stomp, kafka for messages broker, scenario is I need to stubbed this service for the developer, they use this mocking service in his local, so I am facing below issues when I used this library.

[2022-10-14 12:00] azagniotov commented on #457
@kumarpramodlohar thank you. Would you be able to provide an example of the YAML config you used for stubby4j? I will need it in order to try to reproduce the behavior you are seeing

[2022-10-14 12:35] kumarpramodlohar commented on #457
[yml&request.zip](https://github.com/azagniotov/stubby4j/files/9786313/yml.request.zip)

Hi azagniotov,
Thanks for your prompt reply, please find zip file for yml config and also sample of request file attached.

[2022-10-18 10:49] kumarpramodlohar commented on #457
Hi Azagniotov,
Any suggestion or solutions, please let me know, I am waiting for your response.

[2022-10-18 12:46] azagniotov commented on #457
Hi Kumar,

I have not had a chance to deep dive into this just yet.

I appreciate your patience